 * {
    background-color:blanchedalmond;
    box-sizing: border-box;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
 }

 h1 {
    padding: 10px;
 }

.body-container {
    display: grid;
    justify-content: center;
    padding: 20px;
}

.calculator-container {
    background-color: rgb(20, 20, 80);
    border: 1px solid black;
    height: 74vh;
    width: 30vw;
    border-radius: 10px;
}

.display {
    display: grid;
    align-items: center;
    justify-content: end;
    height: 8vh;
    margin: 40px;
    padding: 10px;
    font-size: 30px;
    border: 1px solid black;
    background-color:whitesmoke;
    border-radius: 10px;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px;   
    padding: 20px;
    grid-gap: 10px; 
    height: 53vh;
    border: 1px solid black;
    background-color:rgb(63, 94, 167);
    border-radius: 10px;
}

.button-items {
    border: 1px solid black;
    font-size: 20px;
    border-radius: 20px;
    height: 9vh;
    background-color:whitesmoke;
    transition: 0.1s;
}

.function-buttons {
    background-color:rgb(243, 202, 189);
    border: 1px solid black;
    font-weight: 650;
    font-style: italic;
}

.button-items:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#equals{
    grid-column-start: 3;
    grid-column-end: 5;
}

#clear{
    grid-column-start: 1;
    grid-column-end: 3;
}

.clicked {
    background-color:rgb(300, 290, 220);
}

footer {
    margin: 55px;
    padding: 10px;
}